<div *ngIf="errorMessage.responseCode">
  <div class="d-flex flex-column align-items-center justify-contents-center p-4">
    <i class="fa fa-chain-broken d-block fs-1" aria-hidden="true"></i>
    <p class="fw-bold pt-2">Sorry, we're encountered an error code: [{{errorMessage.responseCode}}]<br/>
    </p>
    <q class="">{{errorMessage.response}}.</q><br/>
    Please reach out the the support team.
  </div>
</div>

<div class="container" *ngIf="!errorMessage.responseCode">
  <h1>Car Fraud Risk Formula Generator</h1>
  <p class="subtitle">Create car fraud risk formula with cars data retrieved from NHTSA API</p>

  <form>
    <!--  Risk Element-->
    <div class="d-flex flex-row align-items-end justify-content-between">
      <div class="col col-lg-4 me-auto">
        <label class="form-label fw-bold mb-0">Risk<span class="text-danger">*</span></label>
        <p class="text-information mb-2">Please select the risk level</p>
        <select class="form-select" aria-label="Risk"
                name="risk"
                [(ngModel)]="carFormula.risk">
          <option value="low">Low</option>
          <option value="high">High</option>
          <option value="medium">Medium</option>
        </select>
      </div>
      <div class="ps-3">
        <button class="btn btn-primary" type="submit"
                [disabled]="
                !carFormula.makeName && !carFormula.modelName && !carFormula.year && !carFormula.fuelType"
                (click)="createFormulas(carFormula)">Create Formula
        </button>
      </div>
    </div>

    <p class="title mb-0 mt-3 fw-bold">Conditions<span class="text-danger">*</span></p>
    <p class="text-information mb-2">Please fill in at least 1 condition from the options given below</p>

    <div class="d-flex flex-row flex-wrap align-items-bottom mb-2">
      <!--  Make Name Element-->
      <div class="col col-sm-6 mb-2 mb-sm-0">
        <label class="form-label">Make Name</label>
        <select class="form-select" aria-label="List for Make Name"
                name="makeName"
                [ngModel]="carFormula.makeName"
                (ngModelChange)="updateCarModelList($event)">
          <option disabled>Select an option...</option>
          <option *ngFor="let data of carDetails" [value]="data.MakeName">{{data.MakeName}}</option>
        </select>
      </div>

      <!--  Model Name Element-->
      <div class="col-12 col-sm-6 ps-sm-3" *ngIf="carFormula.makeName !== null">
        <label class="form-label">Model Name</label>
        <select class="form-select" aria-label="List for Model Name"
                name="modelName"
                [(ngModel)]="carFormula.modelName">
          <option disabled>Select an option...</option>
          <option *ngFor="let data of modelDetails" [value]="data.Model_Name">{{data.Model_Name}}</option>
        </select>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap align-items-bottom mb-2">
      <!--  Year Element-->
      <div class="col col-sm-6 mb-2 mb-sm-0">
        <label class="form-label">Year</label>
        <input type="number" class="form-control" placeholder="Year"
               name="year"
               [(ngModel)]="carFormula.year">
      </div>

      <!--  Year Element-->
      <div class="col-12 col-6 col-lg-3 ps-sm-3" *ngIf="carFormula.year !== null">
        <label class="form-label">Year Comparison Type</label>
        <select class="form-select" aria-label="Comparison Type for year"
                name="yearComparisonType"
                [(ngModel)]="carFormula.yearComparisonType">
          <option value=">"> ></option>
          <option value="<"> <</option>
          <option value="="> =</option>
        </select>
      </div>
    </div>

    <!--  Fuel Type Element-->
    <div class="col col-sm-6">
      <label class="form-label">Fuel Type</label>
      <select class="form-select" aria-label="Fuel Type"
              name="fuelType"
              [(ngModel)]="carFormula.fuelType">
        <option value="diesel">Diesel</option>
        <option value="petrol">Petrol</option>
        <option value="electric">Electric</option>
      </select>
    </div>
  </form>

  <hr/>


  <div *ngIf="getFormulas.length > 0" class="table-responsive">
    <p class="title mb-0 fw-bold">Formula(s)</p>
    <table class="table">
      <thead>
      <tr class="align-baseline">
        <th>Make Name</th>
        <th>Model Name</th>
        <th>Year Comparison Type</th>
        <th>Year</th>
        <th>Fuel Type</th>
        <th class="text-center">Risk</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let formula of getFormulas">
        <td>{{formula[1].makeName}}</td>
        <td>{{formula[1].modelName}}</td>
        <td>{{formula[1].yearComparisonType}}</td>
        <td>{{formula[1].year}}</td>
        <td>{{formula[1].fuelType}}</td>
        <td class="text-center">
          <span class="badge rounded-pill"
                [ngClass]="{
                'bg-danger': formula[1].risk === 'high',
                'bg-warning': formula[1].risk === 'medium',
                'bg-success': formula[1].risk === 'low'
                }">
            {{formula[1].risk}}
          </span>
        </td>
        <td class="text-center icon-delete">
          <i class="fa fa-trash" aria-hidden="true" (click)="removeRow(formula[0])"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="getFormulas.length < 1">
    <div class="d-flex flex-column align-items-center justify-contents-center p-4">
      <i class="fa fa-folder-open-o d-block fs-1" aria-hidden="true"></i>
      <p class="text-center">It seems like there's no formula(s) created yet.<br/>
        Please create a formula using the generator above.
      </p>
    </div>
  </div>
</div>
