$color-secondary: #888DA7;

.table {
  thead{
    color: white;
    font-size: 0.75rem;
    background-color: #7EA2AA;
  }
}

.subtitle{
  color: $color-secondary;
}

.text-information{
  font-size: 0.75rem;
  color: $color-secondary;
}

.title{
  font-size: 1rem;
}

.icon-delete{
  color: $color-secondary;
  &:hover{
    cursor: pointer;
  }
}
