<form>
  <!--  Make Name Element-->
  <label class="d-block" for="makeName">Make Name</label>
  <input class="form-select" list="makeNameList" name="makeName" id="makeName" placeholder="Select a make name...">

  <datalist class="w-100" id="makeNameList" aria-label="List for Make Name">
    <option *ngFor="let data of carDetails" [value]="data.MakeName">
  </datalist>
  <br/>
  <!--  Model Name Element-->
  <label class="d-block" for="modelName">Make Name</label>
  <input class="form-select" list="modelNameList" name="makeName" id="modelName" placeholder="Select a make name...">

  <datalist id="modelNameList" aria-label="List for Make Name">
    <option *ngFor="let data of carDetails" [value]="data.MakeName">
  </datalist>

  <!--  Year Element-->
  <label class="d-block" for="modelName">Comparison Type</label>
  <select class="form-select" aria-label="Comparison Type for year">
    <option value=">"> ></option>
    <option value="<"> <</option>
    <option value="="> =</option>
  </select>

  <!--  Year Element-->
  <label for="year" class="form-label">Year</label>
  <input type="number" class="form-control" id="year" placeholder="Year">

  <!--  Fuel Type Element-->
  <label class="d-block" for="modelName">Comparison Type</label>
  <select class="form-select" aria-label="Comparison Type for year">
    <option value="diesel"> diesel</option>
    <option value="petrol"> petrol</option>
    <option value="electric"> electric</option>
  </select>

  <!--  Risk Element-->
  <label class="d-block" for="modelName">Comparison Type</label>
  <select class="form-select" aria-label="Comparison Type for year">
    <option value="high"> high</option>
    <option value="medium"> medium</option>
    <option value="low"> low</option>
  </select>

  <button class="btn btn-primary" type="submit">Create Formula</button>
</form>
