/* Hide the list on focus of the input field */
datalist {
  display: none;
  width: 100% !important;
}

/* specifically hide the arrow on focus */
input::-webkit-calendar-picker-indicator {
  display: none !important;
}
